body {
  text-align: center !important;
  margin: auto;
}
#piano {
  height: 19em;
  width: 32em;
  margin: 2em auto;
  padding: 2em 0 0 2em;
  position: relative;
  border: 1px solid #160801;
  border-radius: 1em;
  background: url(
    https://m.media-amazon.com/images/I/61e2VzOLsTL._AC_SR320,320_.jpg
  );
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset, 0 1px rgba(212, 152, 125, 0.2);
}

#piano li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: left;
}
#piano .white {
  height: 16em;
  width: 4em;
  z-index: 1;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset,
    0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #eee 0%, #fff 100%);
}

#piano .white:active {
  border-top: 1px solid #777;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset,
    -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
}
#piano .black {
  height: 9.5em;
  width: 2em;
  margin: 0 -1em 0 -1em;
  z-index: 2;
  border-radius: 0 0 3px 3px;
  border: 1px solid #000000;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0px 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #222222 0%, #555555 100%);
}

#piano .black:active {
  background: linear-gradient(to right, #444 0%, #222 100%);
}

#piano li:first-child {
  border-radius: 5px 0 5px 5px;
}

#piano li:last-child {
  border-radius: 0 5px 5px 5px;
}
